<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/public/stylesheets/userStyle.css" />
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />
    <link
      rel="stylesheet"
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
    />
    <title>TIMELESS eCommerce</title>
  </head>
  <body>
    <header>
      <div class="container-fluid header-top">
        <div class="container d-flex header-top-links justify-content-end">
          <a class="px-2 d-none d-lg-block" href="">Contact Us</a>
          <a class="px-2 d-none d-lg-block" href="">About Us</a>
        </div>
      </div>
      <nav
        class="container navbar navbar-expand-lg bg-white py-3 px-2 line-break"
      >
        <div class="container-fluid justify-content-around">
          <a class="navbar-brand d-flex align-items-center" href="/">
            <img
              src="/public/img/timeless-logo.png"
              alt="Logo"
              width="40"
              height="40"
              class="d-inline-block align-text-top"
            />
            <div class="brand-name ms-3">
              <span>TIMELESS</span>
            </div>
          </a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarText"
            aria-controls="navbarText"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 align-items-center">
              <li class="nav-item mx-4 ms-lg-5">
                <a class="nav-link" href="/men">Men</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/men">Women</a>
              </li>
            </ul>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
              <a class="nav-link" href="#">Search</a>
            </span>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
              <a class="nav-link" href="/users/wishlist">Wishlist</a>
            </span>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 mx-3">
              <a class="nav-link" href="/users/cart">Cart</a>
            </span>
            <span class="nav-item nav-link text-center mb-2 mb-lg-0 ms-lg-3">
              <% if(session){%>

              <div class="btn-group dropstart">
                <button
                  type="button"
                  class="btn btn-light dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                  style="
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: grey;
                    font-weight: 600;
                  "
                >
                  <%=locals.currentUser.name%>
                </button>
                <ul class="dropdown-menu" style="font-size: 0.75rem">
                  <li>
                    <a class="dropdown-item" href="/users/profile">Profile</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/users/orders">Orders</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/users/addresses">Address</a>
                  </li>
                  <li><hr class="dropdown-divider" /></li>
                  <li>
                    <a class="dropdown-item" href="/users/signOut">Sign Out</a>
                  </li>
                </ul>
              </div>
              <% }else{%>
              <a class="nav-link" href="/users/signIn">Sign In</a>
              <%}%>
            </span>
          </div>
        </div>
      </nav>
    </header>
    <section class="container mx-auto">
      <img
        class="w-100 my-3 rounded"
        src="../../public/img/design/Banner.png"
        alt=""
      />
      <div class="line-break text-center py-4">
        <span class="shadow-heading" style="font-size: 1rem">MEN</span>
      </div>
      <div class="text-center d-flex justify-content-center flex-column my-3">
        <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
          <div class="col">
            <div class="card h-100 border-0">
              <a href="/products/63ac069d234bbd47340f7c43"
                ><img
                  src="https://s3-alpha-sig.figma.com/img/b491/ca71/fcc300ae5d24c6d5916815b16bc9cd38?Expires=1673222400&Signature=YwFL9lVdxtb8DEVWWT3ddeYPZNbz29e1Lyjrt3dvF-G5fp5ZCuLVIgqBE74~9uoAlRPx9cpdZwR8qXJGd0Nd8RrebxMMthRl~bioGC80npcYzZJhSmicYyYC8J03Nx7T-3y-wgthh9YJ5RdmQ7qA-T8sMVGv6U444c8JpfJLQsMA~EK4P~8HWOPQaOqHuwZLWQknlBDkDBaMyRpKklUes0G2HnvPyz6zObxp07Jqj-aO-So-2iBHP~KxRtKw0PfYB7Cr-yZKz49sXSLuTLnw1usALcSXGW7LzzTVZYVOL5e6L7l7vK15MQheIuP7UFXDEOVnfBhUZ5rWD~xwzTq3lw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title text-black">Yatch Master</h6>
                  <span
                    style="
                      font-weight: bold;
                      color: #7f7f7f;
                      font-size: 0.75rem;
                    "
                    >Rolex</span
                  >
                </div></a
              >
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-0">
              <a href="/products/63ac01685a7e2036e0d246e7"
                ><img
                  src="https://s3-alpha-sig.figma.com/img/e7e9/3910/dac4d00b99b63ac3db417ea803b301e1?Expires=1673222400&Signature=AKmD9iW~PXrxx5ha6amoGfFfyQj7n0qg2zKxfDEkuiVe3d82zgRNyc~rYAJBiye5tMuJq2uTKCXc009c8Vz38GAx0El3m7aBuCouxbi5-bUc4BSQvnHgpji9TMjsYLxZfnE7p27gTpDrJAmi686z8W7Y-Qhu08hWQVFjTi7B7YitiNebTkmqoD4DvkXo5rILk5gVav08VxLuaK4HW-xSGQxg-W0i2hmvprG8MKhULpom~iqHMaGvCUFFUa35w9I5XmUrIj1PkJ9WeXsPDZ1wTUjYEpfcjPIqMOHl4ev8Xmm8o7QSR8WP3CEFUQjCHkWBixG2Hc~0r5OH96tzkoeAmQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                  class="card-img-top"
                  alt="..."
                />
                <div class="card-body">
                  <h6 class="card-title text-black">Cosmograph Daytona</h6>
                  <span
                    style="
                      font-weight: bold;
                      color: #7f7f7f;
                      font-size: 0.75rem;
                    "
                    >Rolex</span
                  >
                </div></a
              >
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-0">
              <img
                src="https://s3-alpha-sig.figma.com/img/850f/3b7f/48c22adef64b8a9891914b68c62d489a?Expires=1673222400&Signature=LPK8xBxH-5AIc6fQHimLx65qhpqhzS8CbNjz1wlSiWDmBYXM-UqqbTUQMHkQWRWOxVl9YvPnnekwPu9jqjHH4U2O7cWRYdefEo7vmkDkh6E7T6dVMOvQPWlWBDYHog1oMItthvCPLkoX0Me0fVMeIPVML63KYSrXXyHaBCDptC1H6rllzN0i1d32f5doXuzdjeuiDbMZ5lXgqjdAOYMmqOjBJ2s61c7Qv0W5SbKaW7X4J8kqBZILELOOQT0kfllALulVyZL5F-Yx9HWaw-FQDKO8UNzth7LkOc96wljmNo41ZlYfxtY8nca~PMDPurCQ3SbJuFr8k-a9MS6sR4TphQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title text-black">Seamaster</h6>
                <span
                  style="font-weight: bold; color: #7f7f7f; font-size: 0.75rem"
                  >Rolex</span
                >
              </div>
            </div>
          </div>
        </div>
        <span
          ><a
            href=""
            class="btn btn-outline-dark py-2 px-3 mt-5"
            style="font-size: 0.75rem"
            >SHOW MORE</a
          ></span
        >
        <img
          class="w-75 mt-5 mb-4 mx-auto"
          src="https://s3-alpha-sig.figma.com/img/342b/6ca8/0cac1b6aec9edfca6620a095fa535302?Expires=1673222400&Signature=mUQtPn1zymvLtiNSuGM6Z9Vf6d5icA989Wpi3YaOBiOdeXijXqa0Pe4QNVAb4dax-yn0lEWpX7OmOz3AjuIt7aUVaQtqpPH~GPktaWw8ikpRgSJyc~wA5Z~kYzRtWTu6xt~O8KEMyHaY4BfWhxv8FcXtf-q24H1uWXeFUtLD7z5~xiJtbxICYE7STW4NsD~diSss-09f5t5-5INeIT7RpxRBWO9frvGJKJbLlUenuFewgaNBRkQxHxiVQBYD1UQ6jpVvNbhU7MEHr0Cs3vPc9YZOtXJ2nOIWInR62N4Ms6~UG8a~0iJ~e33-PqIM7IfjFl7Jf6PLLk49BuuZazQNww__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
      </div>
      <!-- WOMEN -->
      <div class="line-break text-center py-4">
        <span class="shadow-heading" style="font-size: 1rem">WOMEN</span>
      </div>
      <div class="text-center d-flex justify-content-center flex-column my-3">
        <div class="row row-cols-1 row-cols-md-4 g-4 justify-content-center">
          <div class="col">
            <div class="card h-100 border-0">
              <img
                src="https://s3-alpha-sig.figma.com/img/b491/ca71/fcc300ae5d24c6d5916815b16bc9cd38?Expires=1673222400&Signature=YwFL9lVdxtb8DEVWWT3ddeYPZNbz29e1Lyjrt3dvF-G5fp5ZCuLVIgqBE74~9uoAlRPx9cpdZwR8qXJGd0Nd8RrebxMMthRl~bioGC80npcYzZJhSmicYyYC8J03Nx7T-3y-wgthh9YJ5RdmQ7qA-T8sMVGv6U444c8JpfJLQsMA~EK4P~8HWOPQaOqHuwZLWQknlBDkDBaMyRpKklUes0G2HnvPyz6zObxp07Jqj-aO-So-2iBHP~KxRtKw0PfYB7Cr-yZKz49sXSLuTLnw1usALcSXGW7LzzTVZYVOL5e6L7l7vK15MQheIuP7UFXDEOVnfBhUZ5rWD~xwzTq3lw__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">sky - dweller</h6>
                <span
                  style="font-weight: bold; color: #7f7f7f; font-size: 0.75rem"
                  >Rolex</span
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-0">
              <img
                src="https://s3-alpha-sig.figma.com/img/e7e9/3910/dac4d00b99b63ac3db417ea803b301e1?Expires=1673222400&Signature=AKmD9iW~PXrxx5ha6amoGfFfyQj7n0qg2zKxfDEkuiVe3d82zgRNyc~rYAJBiye5tMuJq2uTKCXc009c8Vz38GAx0El3m7aBuCouxbi5-bUc4BSQvnHgpji9TMjsYLxZfnE7p27gTpDrJAmi686z8W7Y-Qhu08hWQVFjTi7B7YitiNebTkmqoD4DvkXo5rILk5gVav08VxLuaK4HW-xSGQxg-W0i2hmvprG8MKhULpom~iqHMaGvCUFFUa35w9I5XmUrIj1PkJ9WeXsPDZ1wTUjYEpfcjPIqMOHl4ev8Xmm8o7QSR8WP3CEFUQjCHkWBixG2Hc~0r5OH96tzkoeAmQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Daytona</h6>
                <span
                  style="font-weight: bold; color: #7f7f7f; font-size: 0.75rem"
                  >Rolex</span
                >
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card h-100 border-0">
              <img
                src="https://s3-alpha-sig.figma.com/img/850f/3b7f/48c22adef64b8a9891914b68c62d489a?Expires=1673222400&Signature=LPK8xBxH-5AIc6fQHimLx65qhpqhzS8CbNjz1wlSiWDmBYXM-UqqbTUQMHkQWRWOxVl9YvPnnekwPu9jqjHH4U2O7cWRYdefEo7vmkDkh6E7T6dVMOvQPWlWBDYHog1oMItthvCPLkoX0Me0fVMeIPVML63KYSrXXyHaBCDptC1H6rllzN0i1d32f5doXuzdjeuiDbMZ5lXgqjdAOYMmqOjBJ2s61c7Qv0W5SbKaW7X4J8kqBZILELOOQT0kfllALulVyZL5F-Yx9HWaw-FQDKO8UNzth7LkOc96wljmNo41ZlYfxtY8nca~PMDPurCQ3SbJuFr8k-a9MS6sR4TphQ__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
                class="card-img-top"
                alt="..."
              />
              <div class="card-body">
                <h6 class="card-title">Seamaster</h6>
                <span
                  style="font-weight: bold; color: #7f7f7f; font-size: 0.75rem"
                  >Rolex</span
                >
              </div>
            </div>
          </div>
        </div>
        <span
          ><a
            href=""
            class="btn btn-outline-dark py-2 px-3 mt-5"
            style="font-size: 0.75rem"
            >SHOW MORE</a
          ></span
        >
        <img
          class="w-75 mt-5 mb-4 mx-auto"
          src="https://s3-alpha-sig.figma.com/img/dd17/bd14/5f65e001c412c7ec8ebbeeacc856f243?Expires=1673222400&Signature=A9aFnNTdaM4jeKE41-koItkyPm12EqyD~yvmfYEWEHNYmdwXHWO~7pIoDtpTzKwe5WYDm~aj3f2udwtJ2dCqcPxmDJ4N~F23GlP6VrLtbCH87f8t7rWwbEaQ72JF-L5ICCTwfzVvsAcRpBj3iWAmi5GSA0nMufLymDl7ZcfijtPEHPupEiL9PtQGqGP~~uR4QTWlHPTX8IUR9Ib9DydnBwJvtnTkFWYsmm6rrGwN5ckC0v6C0zLR6ZhMxe2H5ws8JUA9yLXN9k5lMq99VBCW2J19Gahe8DDYYtjJmYgKhGYBvMws0ukHq5TythMoJzrSQVqgmWILk1QJfcgNvE3Rqg__&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4"
          alt=""
        />
      </div>
    </section>

    <footer class="bg-theme">
      <div
        class="container links pt-4 pb-2 row mx-auto line-break d-flex justify-content-around"
      >
        <a class="col-lg-2 pb-2 text-center" href="#">Track Shipping</a>
        <a class="col-lg-2 pb-2 text-center" href="#">Contact Us</a>
        <a class="col-lg-2 pb-2 text-center" href="#">Customer Care</a>
        <a class="col-lg-2 pb-2 text-center" href="#">About us</a>
        <span class="col-lg-2 justify-content-center d-flex align-items-center">
          <i class="fab fa-instagram"></i>
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-whatsapp"></i>
        </span>
      </div>
      <div class="copyright bg-theme py-2 text-center">
        <span>Copyright © 2022 | Timeless</span>
      </div>
    </footer>
    <script>
      if (window.history.replaceState) {
        window.history.replaceState(null, null, window.location.href);
      }
    </script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>

  </body>
</html>
