* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  text-transform: uppercase;
}
body {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
}
:root {
  font-family: "Inter", sans-serif;
  letter-spacing: 2.7px;
}
@supports (font-variation-settings: normal) {
  :root {
    font-family: "Inter var", sans-serif;
    letter-spacing: 2.7px;
  }
}
a {
  text-decoration: none;
  color: #7f7f7f !important;
}

a:hover {
  color: black !important;
}

.brand-name {
  text-shadow: grey;
  font-weight: bold;
  color: black;
  text-shadow: 0px 2px 4px rgb(153, 153, 153);
  letter-spacing: 4px;
  font-size: 20px;
}

.header-top,
.bg-theme {
  background-color: #ececec;
}
.header-top-links {
  font-size: 0.8rem;
  padding: 4px 0;
  color: black !important;
}

/* Shadow */
.shadow {
  text-shadow: 0px 2px 4px rgb(153, 153, 153);
}
/* Line break */
.line-break {
  border-bottom: 1px solid #dbdbdb;
} 

i {
  font-size: 1.2em;
  padding: 0 5px;
}

footer {
  font-size: 0.9rem;
  margin-top: auto;
}

.shadow-heading{
  text-shadow: grey;
  color: black;
  text-shadow: 0px 2px 4px rgb(153, 153, 153);
  letter-spacing: 4px;
  font-size: 20px;
  text-align: center;
}

#form-holder{
  padding: 10px;
  letter-spacing: 4px;
  font-size: 0.8rem;
}

input{
  padding: 10px;
  letter-spacing: 3px;
  font-size: 0.8rem !important;
}

.form-footer, .form-footer a{
  font-weight: bold;
  padding: 5px 0;
  font-size: 0.7rem;
}