<%- include('../layouts/header') %>
<div class="container">
  <div class="line-break text-center py-4">
    <span class="shadow-heading">Welcome Back</span>
  </div>
  <div class="row my-5 pt-4">
    <span class="text-center pb-3" style="font-size: 0.8rem; text-transform: none;">
      <p class="text-danger mt-0 pt-4 fw-bold text-uppercase"><%= locals.errorMessage %></p>
  </span>
    <div class="col-lg-5 mx-auto">
      <form action="/user/signIn" method="post">
        <div class="mb-3">
          <input
            type="email"
            class="form-control"
            id="form-holder"
            name="email"
            placeholder="e-mail"
          />
        </div>
        <div class="mb-3">
          <input
            type="password"
            class="form-control"
            id="form-holder"
            placeholder="password"
            name = "password"
          />
        </div>
        <input type="submit" class="btn btn-dark w-100" value="Sign in" />
      </form>
      <div class="form-footer d-flex justify-content-between">
        <a href="">
            Forgot password?
        </a>
        <a href="/user/signUp">
            Don't have an account?
        </a>
          </div>
    </div>
  </div>

</div>
<%- include('../layouts/footer') %>
